<!DOCTYPE HTML>
<html>
	<head>
		<title>وصفات طعام</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% load static %}
		<link rel="style" href="{% static 'main/static/style.css' %}" />
	</head>
	<body class="is-preload">
			<header id="header">
				
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h1>تقديم أشهر وصفات الطعام</h1>
							<h3>اختر الوجبة التي وابدأ التحضير</h3>
						</header>
						<p>يقدم الموقع أشهى الأطباق ووصف مكونات الأطباق وطريقة التحضير</p>

					</section>

				<!-- Two -->
					<section id="two">
						<h2>الأطباق</h2>
						<div class="row">
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/01.jpg" class="image fit thumb"><img src="images/thumbs/01.jpg" alt="" /></a>
								<h2>لحم بعجين</h2>
								<p style="text-align: right; font-size:1em ;  font-weight: bold;">المكونات :عجين -  لحم ناعم - خضار- دبس رمان</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/02.jpg" class="image fit thumb"><img src="images/thumbs/02.jpg" alt="" /></a>
								<h2>بيتزا بالخضار</h2>
								<p style="text-align: right; font-size:1em ;  font-weight: bold;">المكونات : العجينة - صلصة البيتزا - الجبنة - الإضافات( فلفل ,زيتون,لحم)</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/03.jpg" class="image fit thumb"><img src="images/thumbs/03.jpg" alt="" /></a>
								<h2>حساء العدس</h2>
								<p style="text-align: right; font-size:1em ;  font-weight: bold;">المكونات: عدس مجروش - حمض ليمون - ثوم - ماء</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/04.jpg" class="image fit thumb"><img src="images/thumbs/04.jpg" alt="" /></a>
								<h2>لحم مشوي مع الخضار</h2>
								<p style="text-align: right; font-size:1em ;  font-weight: bold;">المكونات: قطع لحم كبيرة - فلفل أحمر وأخضر - وطماطم</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/05.jpg" class="image fit thumb"><img src="images/thumbs/05.jpg" alt="" /></a>
								<h2>فطر بالخضار</h2>
								<p style="text-align: right; font-size:1em ;  font-weight: bold;">المكونات: فطر مقطع شرائح - بطاطس مقلية - شرائح فلفل أحمر</p>
							</article>
							<article class="col-6 col-12-xsmall work-item">
								<a href="images/fulls/06.jpg" class="image fit thumb"><img src="images/thumbs/06.jpg" alt="" /></a>
								<h2>شاورما</h2>
								<p style="text-align: right; font-size:1em ; font-weight: bold;">المكونات: لحم دجاج متبتلة - بهارات خاصة - كريم ثوم - بطاطس مقلية - مخلل</p>
							</article>
						</div>
						<ul class="actions">
							<li><a href="#" class="button">الرجوع للصفحة الرئيسية</a></li>
						</ul>
					</section>

			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>